$bg-primary: #23252b;
$bg-secondary: #3d4049;
$bg-tertiary: darken($bg-secondary, 5%);
$bg-header: darken($bg-primary, 5%);

$text-primary: #dddddd;
$text-secondary: darken($text-primary, 40%);

$link: #fceb00;
$link-secondary: darken($link, 10%);

h1 {
  font-size: 200%;
  text-transform: uppercase;
}

a {
  color: $link;

  &:hover {
    color: $link-secondary;
  }
}

.btn {
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;

  &:disabled {
    cursor: initial;
  }

  &.btn-primary {
    background-color: $link;
    color: $bg-primary;

    &:hover {
      background-color: $link-secondary;
    }

    &:active,
    &:disabled {
      background-color: $bg-tertiary;
      color: $text-primary;
    }
  }

  &.btn-secondary {
    background-color: $bg-secondary;
    color: $text-primary;

    &:hover {
      background-color: $bg-tertiary;
    }

    &:active,
    &:disabled {
      background-color: darken($bg-tertiary, 5%);
    }
  }
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}
